WebChallenge/Service References/ServiceWeather/ServiceWeather1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50363/ServiceWeather.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceChallenge.Contracts" />
  <xs:element name="WeekForecastForCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeekForecastForCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceChallenge.Contracts" minOccurs="0" name="WeekForecastForCityResult" nillable="true" type="q1:WeekForecastContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayForecastForCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayForecastForCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceChallenge.Contracts" minOccurs="0" name="DayForecastForCityResult" nillable="true" type="q2:DayForecastCompleteContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>