WebChallenge/Service References/ServiceWeather/ServiceWeather.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWeather" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50363/ServiceWeather.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50363/ServiceWeather.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50363/ServiceWeather.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceChallenge.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWeather_WeekForecastForCity_InputMessage">
    <wsdl:part name="parameters" element="tns:WeekForecastForCity" />
  </wsdl:message>
  <wsdl:message name="IServiceWeather_WeekForecastForCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeekForecastForCityResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWeather_DayForecastForCity_InputMessage">
    <wsdl:part name="parameters" element="tns:DayForecastForCity" />
  </wsdl:message>
  <wsdl:message name="IServiceWeather_DayForecastForCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DayForecastForCityResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWeather">
    <wsdl:operation name="WeekForecastForCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeather/WeekForecastForCity" message="tns:IServiceWeather_WeekForecastForCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeather/WeekForecastForCityResponse" message="tns:IServiceWeather_WeekForecastForCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DayForecastForCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWeather/DayForecastForCity" message="tns:IServiceWeather_DayForecastForCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWeather/DayForecastForCityResponse" message="tns:IServiceWeather_DayForecastForCity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWeather" type="tns:IServiceWeather">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WeekForecastForCity">
      <soap:operation soapAction="http://tempuri.org/IServiceWeather/WeekForecastForCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DayForecastForCity">
      <soap:operation soapAction="http://tempuri.org/IServiceWeather/DayForecastForCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWeather">
    <wsdl:port name="BasicHttpBinding_IServiceWeather" binding="tns:BasicHttpBinding_IServiceWeather">
      <soap:address location="http://localhost:50363/ServiceWeather.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>